.App {
  text-align: center;
  
 
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.navbar {
  color: white;
  background-color: rgba(46, 44, 46, 0.63);

}
.jumbotron {
  opacity: 0.5;
}

Card:hover {

  background: grey;

}

.card {
  border: solid black;
  background: grey;
  box-shadow: 5px 7px;
}

/* .cardTitle {
  border: black;
  background: black;
  width: 300px;
  margin-right: 600px;
} */
.title {
  background: url("./assets/laptop.jpeg");
  padding: 100px 80px 400px 80px;
}
.title1 {
  text-align: center;
}

.about {
  margin-top: 100px;
}
.about2 {
  padding-bottom: 300px;
  background: url('./assets/background2.jpg');
}
.about3 {
  text-align: left;
}
#aboutme {
  color: white;
  background-color: rgb(39, 38, 38);
  margin-top: 0px;
  margin-bottom: 20px;
}
.aboutTitle {
  border-bottom: solid black;
}
.icon {
  float: center;
}

#pic {
  height: 250px;
  width: 250px;
}

.name {
  color: white;
}


#footer { 
  height: 250px;
  padding-top: 0px;
  margin: auto;
}

#footerTop {
  background-color: grey;
}

#portfolio {
  color: white;
  background-color: rgb(39, 38, 38);
  margin-top: 0px;
  margin-bottom: 20px;
}
#portBackground {
  background: url('./assets/background2.jpg');
  padding-bottom: 200px;
  margin: auto;
  
}

#portPic {
  width: 230px;
  height: 170px;
  
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
